
            html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

		* {
			box-sizing: border-box;
		}
		.clearfix:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
		} 

/* font-family: 'Poppins', sans-serif;
font-family: 'Noto Sans', sans-serif; 

Dark Teal: rgb 33 90 109 / #215a6d
Off-white: rgb 246 246 246 / #f6f6f6
dark: rgb 15 15 15 / #0f0f0f
accent: rgb 141 215 233 / #8dd7e9
*/

/* Note, I did take the variables from the style guide. Thanks~ */

:root {
  --backgroundColour: #215a6d;
  --whiteShade: #f6f6f6;
  --blackShade: #0f0f0f;
  --accentColour: #8dd7e9;
  --largeFont: 'Poppins', sans-serif;
  --smallFont: 'Noto Sans', sans-serif; 
}


/* Global Styles */
html {
      scroll-behavior: smooth;
      font-size: 62.5%
}

body {
      font-size: 1.8rem;
}

.wrapper {
      border: 2px solid red;
      max-width: 90%;
      margin: 0 auto;
}

ul {
      list-style: none;
      padding: 0;
      margin: 0;
}

a {
      text-decoration: none;
}

p {
      font-family: var(--smallFont);
      font-size: 1.8rem;
}


/* HEADER STYLES */

header {
      background: url(./resources/headerMountains/image-1@2x.png);
      background-attachment: fixed;
      height: 100vh;
      background-size: cover;
      background-position: center;
      margin: 0;
      position: relative;
}
.headerWrapper {
      padding: 3% 0; 
}
header a {
      color: var(--whiteShade);
      font-family: var(--largeFont);
      text-transform: uppercase;
}

header nav {
      float: right;
}

.logo {
      font-size: 4.2rem;
      line-height: 42px;
}

.mainNav li {
      float: left;
}
.mainNav a {
      padding: 10px 15px;
      font-size: 1.8rem;
}

h1, h2, h3, h4 {
      /* border: 1px solid tomato; */
      text-align: center;
      font-family: var(--largeFont);
      color: var(--whiteShade);
      text-transform: uppercase;
}
h2 {
      clear: both;
      margin-bottom: 0;
      font-size: 3.2rem;
      margin-top: 12%;
      
}
h1 {
      margin-top: 0;
      font-size: 13rem;
      line-height: 120px;

}
.socialMedia {
      margin: 8% 1% 0px 0px;
      width: 100px;
      position: absolute;
      bottom: 25px;
      right: 0;
      
}

.socialMedia li {
      width: 100%;
}
.socialMedia a {
      /* border: 2px solid red; */
      color: var(--backgroundColour);
      text-align: center;
      font-size: 2rem;
      display: inline-block;
      width: 100%;
      margin-top: 10px;
      padding: 3%;

}


/* ABOUT ME STYLES */

section {
      border: 1px dashed black;
}
.aboutSummitSection h3,
.aboutSummitSection p,
.moreButton,
.aboutSummitSection a {
      /* border: 1px solid orchid; */
      text-align: center;
}

h3, h4 {
      color: var(--blackShade);
}
h3 {
      font-size: 4.2rem;
      margin: 100px 0 0 0;
}

.aboutSummitSection p {
      width: 70%;
      margin: 25px auto;
}

.moreButton {
      background-color: var(--accentColour);
      width: 215px;
      /* padding: 1%; */
      margin: 0 auto 100px;
}
.moreLink {
      font-family: var(--largeFont);
      text-transform: uppercase;
      font-size: 1.8rem;
      color: var(--blackShade);
      display: inline-block;
      width: 100%;
      padding: 15px;
}
/* LINK SECTION */

.linkSection {
      background-color: var(--backgroundColour); 
}
.linkSection .wrapper {
      padding: 100px 0px;
}

.linkWrap {
      width: 70%;
      margin: 0 auto;
}

.linkSection a {
      /* border: 1px solid red; */
      display: block;
      margin: 0;
      text-align: center;
      color: var(--whiteShade);
      text-transform: uppercase;
      font-size: 4rem;
      width: 33%;
      float: left;
}

.linkSection p {
      font-family: var(--largeFont);
      font-size: 3rem;
}

/* ARTICLe PREVIEWS */
.article {
      background: var(--whiteShade)
}


.articlePreview {
      border: 1px dashed blue;
      width: 50%;
      background: var(--whiteShade);
      float: left;
      margin-top: 80px;
      /* padding: 1%; */
}

.previewContainer {
      border: 1px dashed red;
      width: 75%;
      margin: 0 auto;   
      text-align: center;
      padding-right: 2%; 
}

.article2 .previewContainer {
      padding: 0 0 0 2%;
}

.article h4 {
      margin: 0px auto;
      font-size: 3.2rem;
}

.article p {
      width: 65%;
      line-height: 2.5rem;
      margin: 25px auto;
      /* padding: 0px 25px; */
}

.article .moreButton {
      margin: 0 auto;
}

.article img {
      display: block;
      max-width: 100%;
      height: 100%;
      object-fit: cover;
}
.articlePic {
      width: 50%;
      float: left;
}

.article2 .articlePic,
.article2 .articlePreview {
      float: right;

}


/* ABOUT ME SECTION */

.aboutMeSection {
      background-color: var(--whiteShade);
      border: none;
      background: #f9f9f9b6;
}

.aboutMeWrapper {
      padding: 100px 0;
}

.aboutMeSection img {
      height: 100%;
      max-width: 27%;
      margin-right: 35px;
      float: left;
}

.right {
      width: calc(73% - 35px);
      float: left;
      /* height: 320px; */
      /* border: 1px solid red; */
}

.right p,
.right h3 {
      line-height: 3rem;
      text-align: left;
      margin: 0px 0px 25px 0px;

}

.right .moreButton {
      margin: 0;

}



/* GALLERY SECTION */

.gallerySection {
      background-color: #fcfcfc;
}

.gallerySection img {
      margin: 100px 40px 100px 0px;
      max-width: calc((100% - 80px) / 3);
      display: block;
      float: left;
}

/* Made imgs display Block to get rid of ghost space */

.gallerySection img:nth-child(3n) {
      margin-right: 0;
}



/* FOOTER */

/* Hiding label on my email field but still keeping it because ~~~~~~~~ACCESSIBLE~~~~~ */
.visuallyHidden:not(:focus):not(:active) {
          position: absolute;
          width: 1px;
          height: 1px;
          margin: -1px;
          border: 0;
          padding: 0;
          white-space: nowrap;
          clip-path: inset(100%);
          clip: rect(0 0 0 0);
          overflow: hidden;
    }

footer,
footer h4,
footer a {
      background-color: var(--backgroundColour);
      color: var(--whiteShade);
}

footer li {
      font-family: var(--smallFont);
      line-height: 3rem;
}
.pagesNav li {
      text-transform: uppercase;
}

footer h4 {
      font-size: 2.4rem;
      text-align: left;
      margin: 0 0 10px 0;
}

footer section {
      width: calc(50% / 3);
      float: left;
      margin: 100px 0;
}

.contactSection {
      width: calc((50% / 3) + 5%)
}

.contactSection,
.pageSection, 
.postsNav {
      padding-left: 10px;
}

.newsletterSection {
      width: 45%;
}

input, .subButton {
      height: 50px;
      margin: 0;
      float: left;

}
.subButton {
      float: left;
      width: 125px;
}
input {
      width: 70%;
      max-width: 70%;
      border: none;
      padding-left: 25px;
}
button {
      width: 100%;
      height: 100%;
      background: var(--accentColour);
      border: none;
      text-transform: uppercase;
      font-family: var(--largeFont);
}

.copyright {
      background-color: #094154;
      color: var(--whiteShade);
      margin: 0;
      padding: 1px;
      text-align: center;
      clear: both;
}



@media (max-width: 1400px) {
      .articlePreview {
            margin: 3% 0px;
      }
}
@media (max-width: 1215px) {
      .articlePreview {
            margin: 2% 0px;
      }
}
@media (max-width: 1115px) {
      .articlePreview{
            margin: 1.5% 0px;
      }
}
@media (max-width: 1070px) {
      .articlePreview{
            margin: 1% 0px;
      }
      .previewContainer {
            width: 90%;
      }
      footer h4 {
            text-align: center;
      }
      footer section,
      footer .contactSection {
            margin: 3% 0;
            text-align: center;
            width: calc(100% / 3)
      }
      .newsletterSection {
            width: 100%;
      }
      form {
            width: 80%;
            margin: 0 auto;      
      }
      input {
            width: 70%;
      }
      .subButton {
            width: 30%;
      }

}
@media (max-width: 1030px) {
      .articlePreview{
            margin: 0.5% 0px;
      }
      .previewContainer p {
            width: 80%;
      }
}



@media (max-width: 975px) {
      .wrapper {
            max-width: 95%; 
      }

}
@media (max-width: 940px) {
      
      .articlePreview {
            width: 100%;
            height: 30vh;
            margin: 0;
      }
      .previewContainer {
            margin: 20px auto;
            padding: 0;
      }
      .articlePic {
            width: 100%;
            height: 50%;
      }

/* Link Section */

      .linkWrap {
            width: 100%;
      }
/* Gallery styles */

      .gallerySection img {
            margin: 0;
            max-width: calc(100% / 3);
      }
   
/* FOOTER STYLES */
      .pageSection,
      footer .contactSection {
            width: calc(100% / 2);
            margin: 0;
      }

      .postsNav {
            width: 100%;
      }

}



@media (max-width: 550px) {
      header {
            min-height: 50vh;
            background-image: url(resources/headerMountains/image-1.png);
      }
      h1 {
            font-size: 8rem;
            line-height: 7rem;
      }
      h2 {
            font-size: 2.6rem;
            margin-top: 150px;
      }
      .socialMedia {
            display: none;
      }


/* ARTICLES STYLES */
      .articlePreview {
            height: 35vh;
      }

      .previewContainer {
            width: 95%;
      }

      .articlePreview p {
            width: 90%;
      }
/* Link section */

      .linkSection .wrapper {
            padding: 20px 0;
      }
      .linkWrap a {
            float: none;
            width: 100%;
            margin: 0 0 10px 0;
      }

/* Gallery Styles */

      .galleryWrapper {
            max-width: 100%;
            overflow: hidden;
      }
      .gallerySection img {
            max-width: 50%;
      }
      .gallerySection .removed {
            display: none;
      }

/* FOOTER STYLES */
      form {
            border: 1px solid green;
            padding: 0;
            width: 100%;
      }
      input {
            padding: 0;
      }
      form input.email, .subButton {
            max-width: 100%;
            display: block;
            width: 100%;
            float: none;
            text-align: center;
      }
      .pageSection,
      footer section.contactSection {
            width: 100%;
      }
      .postsNav {
            margin: 0;
      }

      .pageSection, 
      section.contactSection, 
      .postsNav {
            margin: 10px 0;
            padding: 0;
      }
}

